{% extends '__layout.twig' %}

{% import '__macros/html.twig' as html %}

{% block content %}

{% include '__commons/success.twig' %}

{{ html.breadcrumbs([
	{link: '#', label: 'Configuration'},
	{link: '/employees', label: 'Employees'},
	{link: '/employees/view/'~employee.id, label: employee.name}
]) }}

{{ html.pageHeader('Employee: '~employee.name, [
	{link: '/employees', class: 'btn-outline-secondary', label: 'Back to list'},
	{link: '/employees/form/'~employee.id, class: 'btn-info', label: 'Edit'},
	{link: '/employees/delete/'~employee.id, class: 'btn-danger', label: 'Delete'}
]) }}

{{ html.definitions([
	{label: 'E-mail', value: employee.email},
	{label: 'Description', value: employee.description}
]) }}

<ul class="nav nav-tabs mb-4" id="subcontent-tabs">
	<li class="nav-item">
		<a href="/employees/view/{{ employee.id }}/assignments" class="nav-link" id="assignments-tab">Assignments</a>
	</li>
</ul>

{% block subcontent %}
{% endblock %}

<script>
	let tab = document.querySelector('ul.nav-tabs a.nav-link.active');
	if (!tab) {
		document.querySelector('a#assignments-tab').click();
	}
</script>

{% endblock %}
